[sparql]
# edit these values to match the settings of the 4Store instance
# enable dumping to virtuoso sparql point
enable = False
endpoint = 'http://localhost:8000/'
graph = 'http://default.graph.uri/'
# time before sparql data expires in days
expiration = 30

[urls]
# important, no trailing '/'
base = 'http://dbtune.org/myspace'


[global]
server.socket_port: 1213 
log.screen: True 
log.access_file: '/var/log/myspace/dbtune-myspace-access.log' 
log.error_file: '/var/log/myspace/dbtune-myspace-error.log'
tools.caching.on: True
server.thread_pool:30
server.socket_queue_size: 10
tools.encode.on: True
tools.decode.on: True

[/]
tools.proxy.on: True

[/style.css] 
tools.staticfile.on: True
tools.staticfile.filename: os.path.join(os.path.abspath(''), 'static', 'style.css')

[/static/countries_geonames.tsv]
tools.staticfile.on: True  
tools.staticfile.filename: os.path.join(os.path.abspath(''), 'static', 'countries_geonames.tsv')