[ODBC]
# edit these values to match the settings of Virtuoso
sparql = False		# enable dumping to virtuoso sparql point
user = 'username'
pass = 'password'
host = 'localhost:1112'
dsn = 'Database Sever Name'
graph = 'http://default.graph.uri/'        
write_path = '/Users/kurtjx/Documents/workspace/myspace-serv/src'	# must be in DirsAllowed in virtuoso.ini

[urls]
base = 'http://dbtune.org/myspace'    # important, no trailing '/'


[global]
server.socket_port: 1213 
log.screen: True 
log.access_file: '/var/log/myspace/dbtune-myspace-access.log' 
log.error_file: '/var/log/myspace/dbtune-myspace-error.log'
tools.caching.on: True
server.thread_pool:30
server.socket_queue_size: 10
tools.encode.on: True
tools.decode.on: True

[/]
tools.proxy.on: True

[/style.css] 
tools.staticfile.on: True
tools.staticfile.filename: os.path.join(os.path.abspath(''), 'static', 'style.css')