<div id="toc">
	<ul class="clear-me">
		<%= content_tag 'li', link_to('Artists' ,{:controller => 'artist'}, {:class => 'link-artist'}) %>
		<%= content_tag 'li', link_to('Festive 50s' ,{:controller => 'festive50'}, {:class => 'link-festive50'}) %>
		<%= content_tag 'li', link_to('Sessions' ,{:controller => 'session'}, {:class => 'link-session'}) %>
	</ul>
</div>