<div id="content">
	<div id="content-inner">
		<div id="content-inner-inner">
			<% if @flash[:notice] -%>
				<div class="section" id="flash-notice">
					<%= content_tag 'p', @flash[:notice] %>
				</div>
			<% end -%>
			<%= @content_for_layout %>
		</div>
	</div>
</div>