<!-- Design based on code created by Tom Coates for the Thingtagging site and used with permission -->
<link href="http://plasticbag.org" rev="vote-for" />
<link href="http://thinglink.hackdiary.com/thingtagging/" rev="vote-for" />