<%= content_tag 'p', "A #{link_to 'BBC', 'http://www.bbc.co.uk', :rev => 'vote-for'} #{link_to 'Audio', 'http://www.bbc.co.uk/radio', :rev => 'vote-for'} and #{link_to 'Music', 'http://www.bbc.co.uk/music', :rev => 'vote-for'} demo application.", :class => 'footer' %>
<%= content_tag 'p', "Design based on code created by #{link_to 'Tom Coates', 'http://plasticbag.org', :rev => 'vote-for'} for the #{link_to 'Thingtagging', 'http://thinglink.hackdiary.com/thingtagging/', :rev => 'vote-for'} site and used with permission.", :class => 'footer' %>