<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>$title</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--[if IE]>
    <script type="text/javascript" src="/misc/jquery.js"></script>
    <script type="text/javascript" src="/misc/drupal.js"></script>
    <script type="text/javascript" src="/modules/nice_menus/nice_menus.js"></script>
    <![endif]-->
<link rel="shortcut icon" href="http://www.omras2.org/files/sbiconsmall.png" type="image/x-icon" />
<style type="text/css" media="all">@import "http://www.omras2.org/modules/nice_menus/nice_menus.css";</style>
<style type="text/css" media="all">@import "http://www.omras2.org/modules/nice_menus/nice_menus_default.css";</style>
<style type="text/css" media="all">@import "http://www.omras2.org/modules/node/node.css";</style>
<style type="text/css" media="all">@import "http://www.omras2.org/modules/system/defaults.css";</style>
<style type="text/css" media="all">@import "http://www.omras2.org/modules/system/system.css";</style>

<style type="text/css" media="all">@import "http://www.omras2.org/modules/user/user.css";</style>
<style type="text/css" media="all">@import "http://www.omras2.org/themes/litejazz/style.css";</style>
<style type="text/css" media="all">@import "http://www.omras2.org/themes/litejazz/css/blue.css";</style>
<style type="text/css" media="all">@import "http://www.omras2.org/themes/litejazz/content.css";</style>
<script type="text/javascript"> </script>
<style type="text/css">
      	#page {
      width: 95%;
		}
      </style>
</head>

<body>
<div id="page">
  <div id="masthead">

    <div id="header" class="clear-block">
      <div class="header-right">
        <div class="header-left">           <div id="logo-title">
                        <a href="http://www.omras2.org/" title="Home"> <img src="http://www.omras2.org/files/omras2logo2.png" alt="Home" id="logo" /> </a>
                      </div>
          <!-- /logo-title -->
          <div id="name-and-slogan">

                                  </div>
          <!-- /name-and-slogan -->
                  </div>
        <!-- /header-left -->
      </div>
      <!-- /header-right -->
    </div>
    <!-- /header -->
  </div>

  <div id="navigation" class="menu withprimary ">
        <div id="primary" class="clear-block"> <ul class="links-menu">
<li><a href="http://www.omras2.org/overview" title="Project Information">Project</a></li>
<li><a href="http://www.omras2.org/publications" title="Publications related to OMRAS2">Publications</a></li>
<li><a href="http://www.omras2.org/Workshops" title="Workshops showcasing OMRAS2 resources and research">Workshops</a></li>
<li><a href="http://wiki.omras2.org/cgi-bin/twiki/view/" title="Development wiki for OMRAS2">Wiki</a></li>
<li class="active"><a href="http://www.omras2.org/Contact" title="Contact OMRAS2" class="active">Contact</a></li>
</ul> </div>

</div>
<!-- /navigation -->
<div id="middlecontainer">
<table border="0" cellpadding="0" cellspacing="0" id="content">
<tr><td valign="top">          

	<!-- generated code follows: -->
	$content
	<!-- /generated code -->

</td>

<!-- side menu -->
<td id="sidebar-right"><div class="block block-nice_menus" id="block-nice_menus-3">

  <h2 class="title"><span class="nice-menu-show-title">Project</span></h2>
  <div class="content"><ul class="nice-menu nice-menu-left" id="nice-menu-3"><li id="menu-112" class="menu-path-node-10"><a href="/overview" title="Project: Overview">Overview</a></li>
<li id="menu-130" class="menu-path-publications"><a href="/publications" title="Project: Publications">Publications</a></li>
<li id="menu-113" class="menu-path-node-11"><a href="/People" title="Project: People">People</a></li>
<li id="menu-114" class="menu-path-node-5"><a href="/Contact" title="Project: Contact" class="active">Contact</a></li>
</ul>
</div>
</div>
<div class="block block-nice_menus" id="block-nice_menus-1">
  <h2 class="title"><span class="nice-menu-show-title">Software</span></h2>

  <div class="content"><ul class="nice-menu nice-menu-left" id="nice-menu-1"><li id="menu-116" class="menuparent menu-path-node-22"><a href="/Annotators" title="Software: Annotators">Annotators</a><ul><li id="menu-85" class="menu-path-node-13"><a href="/SonicAnnotator" title="Software: Sonic Annotator">Sonic Annotator</a></li>
<li id="menu-118" class="menu-path-node-19"><a href="/GNAT" title="Software: GNAT">GNAT</a></li>
</ul>
</li>
<li id="menu-117" class="menuparent menu-path-node-23"><a href="/Visualisers" title="Software: Visualisers">Visualisers</a><ul><li id="menu-84" class="menu-path-node-12"><a href="/SonicVisualiser" title="Software: Sonic Visualiser">Sonic Visualiser</a></li>
<li id="menu-87" class="menu-path-node-15"><a href="/HarmonicVisualiser" title="Software: Harmonic Visualiser">Harmonic Visualiser</a></li>
<li id="menu-146" class="menu-path-node-67"><a href="/mHashup" title="Software: mHashUp">mHashup</a></li>
<li id="menu-147" class="menu-path-node-68"><a href="/ClassicalMusicUniverse" title="Software: Classical Music Universe">Classical Music Universe</a></li>

</ul>
</li>
<li id="menu-106" class="menuparent menu-path-node-20"><a href="/SearchEngines" title="Software: Databases and Search Engines">Databases and Search</a><ul><li id="menu-107" class="menu-path-node-18"><a href="/audioDB" title="Software: audioDB">audioDB</a></li>
<li id="menu-108" class="menu-path-node-14"><a href="/SoundBite" title="Software: SoundBite">SoundBite</a></li>
</ul>
</li>
<li id="menu-143" class="menuparent menu-path-node-64"><a href="/WebTools" title="Software: Web Tools">Web Tools</a><ul><li id="menu-144" class="menu-path-node-65"><a href="/motools" title="Music Ontology Tools">MO Tools</a></li>
<li id="menu-145" class="menu-path-node-66"><a href="/mypyspace" title="Software: MyPySpace">MyPySpace</a></li>
</ul>
</li>
</ul>

</div>
</div>
<div class="block block-nice_menus" id="block-nice_menus-2">
  <h2 class="title"><span class="nice-menu-show-title">Resources</span></h2>
  <div class="content"><ul class="nice-menu nice-menu-left" id="nice-menu-2"><li id="menu-119" class="menuparent menu-path-node-24"><a href="/Ontologies" title="Resources: Ontologies">Ontologies</a><ul><li id="menu-88" class="menu-path-node-16"><a href="/MusicOntology" title="Resources: The Music Ontology">The Music Ontology</a></li>
<li id="menu-140" class="menu-path-node-62"><a href="/AudioFeatures" title="Resources: Audio Features Ontology">Audio Features Ontology</a></li>
<li id="menu-141" class="menu-path-node-63"><a href="/ChordOntology" title="Resources: Chord Ontology">The Chord Ontology</a></li>
<li id="menu-152" class="menu-path-node-71"><a href="/VampOntology">The Vamp Plugin Ontology</a></li>

</ul>
</li>
<li id="menu-120" class="menuparent menu-path-node-25"><a href="/Data" title="Resources: Data">Data</a><ul><li id="menu-129" class="menu-path-node-31"><a href="/SPARQLEndPoints" title="Resources: SPARQL End Points">SPARQL End Points</a></li>
<li id="menu-121" class="menu-path-node-17"><a href="/ChordTranscriptions" title="Resources: Chord Transcriptions">Chord Transcriptions</a></li>
<li id="menu-151" class="menu-path-node-70"><a href="/RDFServices" title="RDF translation services">RDF Services</a></li>
</ul>
</li>
</ul>
</div>
</div>

<div class="block block-nice_menus" id="block-nice_menus-4">
  <h2 class="title"><span class="nice-menu-show-title">Tutorials</span></h2>

  <div class="content"><ul class="nice-menu nice-menu-left" id="nice-menu-4"><li id="menu-126" class="menu-path-node-30"><a href="/WebOfDataTutorial" title="Tutorial: Using the Semantic Web">Using the Semantic Web</a></li>
<li id="menu-125" class="menu-path-node-29"><a href="/PostingDataTutorial" title="Tutorial: Publishing on the Semantic Web">Publishing on the Semantic Web</a></li>
<li id="menu-124" class="menu-path-node-28"><a href="/PythonTutorial" title="Tutorial: Getting started in Python">Getting started in Python</a></li>
</ul>
</div>
</div>
 </td>
              </tr>
    </table>
  </div>

      <div id="footer"> 
<div class="block block-block" id="block-block-1">
  <h2 class="title"></h2>
  <div class="content"><p>Site content and software copyright 2008 Queen Mary, University of London and Goldsmiths, University of London.</p>
</div>
</div>
 </div>
  <div id="footer-wrapper" class="clear-block">
    <div class="footer-right">
      <div class="footer-left"> </div>

      <!-- /footer-left -->
    </div>
    <!-- /footer-right -->
  </div>
  <!-- /footer-wrapper -->
   </div>
</body>
</html>
