<!-- Meta Stuff -->
<% @page_title = 'Festive 50s' -%>
<% @description = 'John Peel Festive 50s' -%>
<% @section = 'festive50' -%>

<!-- Title -->
<%= content_tag 'h2', 'Festive 50s', :id => 'festive50s' %>

<!-- Year list -->
<div class="section">
	<ul class="floated-list clear-me">
		<% @years.each do |y| -%>
			<li>
				<%= link_to y.display_year, show_festive_fifty_url(:year => y.year) %>
			</li>
		<% end -%>
	</ul>
</div>